
IMG.displayed {
	border-radius: 0% 50% 50% 0%;
	width:70%;
	float: left;	
}
.title{
	font-family:Courier New, monospace; 
	font-size: 50px; 
	color:#fff;
}
.box{ 
    position:relative;	
    width: 1000px;
	text-align:center;
	
}
	
.box div { 
    display: inline-block; 
    position: absolute; 
    top: 20px;
	right: 20px; 
	text-align: left;
    background-color: rgba(0,0,0,.4); 
    padding: 5px 5px 5px 5px;
	font: bold 24px/44px Courier New, monospace;
	color: white;
}


.quote{
	color:#fff;
	font-family: Courier New, monospace;
	font-size: 20px;
}
 

.descriptoin{
	color:#fff;
	font-family: Courier New, monospace;
	font-size: 15px;
	margin-left:35px;
}
